<section class="todoapp">
	<header class="header">
		<h1><%= current_user.first_name%>'s Lists</h1>
    <%= form_for(@list) do |f| %>
      <%= f.text_field :name, class: "new-todo", placeholder: (@list.errors.full_messages_for(:name).first || "Make a new list"), autofocus:"" %>
    <% end %>
	</header>

	<section class="main">
		<ul class="todo-list">
      <% @lists.each do |list| %>
      <li>
        <div class="view">
          <label><%= link_to list.name, list_path(list) %></label>
					<%= button_to "x", list_path(list), method: "delete", class: "destroy" %>
        </div>
      </li>
      <% end %>
    </ul>
	</section>

	<footer class="footer">
	</footer>
</section>
