<section class="todoapp">
	<header class="header">
		<h1><%= @list.name %></h1>
		<%= form_for([@list, @item]) do |f| %>
			<%= f.text_field :description, class: "new-todo", placeholder: (@item.errors.full_messages_for(:description).first || "Add an item") %>
		<% end %>
	</header>

	<section class="main">
		<ul class="todo-list">
			<%= render collection: @list.items, partial: 'items/item_li', as: :item %>
    </ul>
	</section>

	<footer class="footer">
	</footer>
</section>

<footer class="info">
	<p><%= link_to "Back", lists_path %> | <%= link_to "Home", root_path %></p>
</footer>

<script id="item-template" type="text/x-handlebars-template">
	<li class="item" id="item_{{id}}">
		<div class="view">
			<form class="edit_item" id="edit_item_{{id}}" action="/lists/<%= @list.id %>/items/{{id}}" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="patch">
				<input name="item[status]" type="hidden" value="0">
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
				<input class="toggle" type="checkbox" value="1" name="item[status]" id="item_status">
			</form>
			<label>{{description}}</label>
			<form class="button_to" method="post" action="/lists/<%= @list.id %>/items/{{id}}">
				<input type="hidden" name="_method" value="delete">
				<input class="destroy" type="submit" value="x">
				<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
			</form>
		</div>
	</li>
</script>
