<!DOCTYPE html>
<html>
  <head>
    <title>TodoMvc</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag('lists.js') %>

  </head>

  <body>
    <%= yield %>
  </body>

  <% if logged_in? %>
    <footer class="info">
      <p>You are logged in as: <%= current_user.email %></p>
      <p><%= link_to "Logout", logout_path %></p>
    </footer>
	<% end %>

</html>
